<!doctype html>
  <html>
  <head>
    <title>Ananke</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='logoFDC500.png') }}"/>

    <!-- use the font -->
    <style>
    body {
      font-family: 'Lalezar', cursive;
    }
    .vote {
      display:flex;
      justify-content:center;
      align-items:center; 
      font-size: 50px; 
      color: whitesmoke;
      cursor: pointer;
    }
    a, a:hover, a:active, a:visited { color: whitesmoke; }
    .navbar-nav > li{
      padding-left:10px;
      padding-right:10px;
    }
    .flex-center {
      display: flex;
      justify-content:center;
      text-align: center;
    }
    .badge-custom {
      background-color: #00509D;
      border-radius: 8px;
      box-shadow: 1px 1px 1px 1px black;
      color:  whitesmoke;
      height: 25px;
      padding: 5px 3px 0 3px;
      text-align: center;
      min-height: 14px;
    }

  </style>
</head>

<body class="bg-light">
  <!-- {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} -->
    <div style="height:10px; background-color: #FDC500;"></div>
    <nav class="navbar navbar-expand-lg text-dark bg-dark">
      <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='logo.png') }}" width="100" height="100" alt="">
      </a>
      <span style="font-size: 22px;" class="ml-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="" title="How it works" data-toggle="modal" data-target="#exampleModalCenter">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vote" title="Voting page">Voting link</a>
          </li>
        </ul>
      </span>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">How Ananke works</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Ananke is another single-team poker planning tool. <br><br>
              A poker planning is a method aimed to estimate the effort required to complete a job. <br><br>
              It involves the whole team who expresses the vote and it is widely used for timeboxing <a href="https://www.pm-partners.com.au%2Fwhat-is-agile-philosophy-and-principles%2F&usg=AOvVaw0libsBHahxfZovH8j5Lwh_">Agile</a> principles. More on this <a href="https://en.wikipedia.org%2Fwiki%2FPlanning_poker&usg=AOvVaw3DQmOEraHyl6FHPp91WqLV">here</a>. <br><br>
              This tools works as following
              <br>
              <ul>
                <li>Admin/Scrum masters point to <a href="/">root page</a></li>
                <li>Voters/team members point to the <a href="/vote">voting link page</a></li>
              </ul>
              Each voter will have an identifer assigned which follows the following schema:
              <ul>
                <li>an adjective</li>
                <li>a crypto name</li>
              </ul>
              <br>
              Once all votes have been received, the master can reveal them to make them visible or reset them to start over.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <div class="footer fixed-bottom navbar" style=" background-color: #FDC500;">
      <div class="col-12 text-right" style="text-decoration: none;">
        <i class="fa fa-github"></i>
        Contribute to the <a href="https://github.com/brunifrancesco/ananke">Ananke project</a>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.7.0/timer.jquery.js"></script>
  </html>
