{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <!-- [START gae_flex_websockets_form] -->
  <p>Chat demo</p>

  <div>
    <p>Messages:</p>
    <ul id="chat-response"></ul>
  </div>

  <div>
    <p>Users:</p>
    <ul id="chat-users"></ul>
  </div>

  <!-- [END gae_flex_websockets_form] -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    // [START gae_flex_websockets_js]
    $(function() {
      /* If the main page is served via https, the WebSocket must be served via
      "wss" (WebSocket Secure) */
      var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
      var webSocketUri =  scheme
      + window.location.hostname
      + (location.port ? ':'+location.port: '')
      + '/exchange';

      /* Get elements from the page */
      var form = $('#chat-form');
      var output = $('#chat-response');
      var users = $('#chat-users');

      /* Helper to keep an activity log on the page. */
      function log(text){
        console.log("Ciao");
      }

      /* Establish the WebSocket connection and register event handlers. */
      var websocket = new WebSocket(webSocketUri);

      websocket.onopen = function() {
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reset_all"}));
      };

      websocket.onclose = function() {
        log('Closed');
      };

      websocket.onmessage = function(e) {
        data = JSON.parse(e.data);
        if ('status' in data && data['status'] === 'users' && data['value']){
          users.empty();
          data['value'].forEach(function(user) {
             users.append($('<li>').text(user));   
          });
          
        } 
        if('status' in data && data['status'] === 'vote'){
          output.append($('<li>').text("new vote received"));  
        }
        
      };

      websocket.onerror = function(e) {
        log('Error (see console)');
        console.log(e);
      };

      
    });
    // [END gae_flex_websockets_js]
  </script>
</div>
{% endblock %}
