{% extends 'base.html' %}
{% block content %}

<div class="container-fluid text-dark">
  
  <div class="row ml-auto text-right mt-5">
    <div class="col-12" style="font-size: 25px">
        Voters 
        <span id="user-count" class="badge badge-custom" style="background-color: #00509D; color: whitesmoke;">0</span>
    </div>    
  </div>

  <div class="row" style="margin-top: 10%">
    <div class="col-12 text-center">
      <h2 id="novotes">No votes yet</h2>
      <div class="flex-center card-deck mt-3" id="card-deck">
        
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <button id="reveal" style="background-color: #00509D; border: #00509D;" type="button" class="btn btn-primary btn-lg shadow-none" disabled="true">Reveal</button>
      <button id="reset" style="background-color: #00509D; border: #00509D;" type="button" class="btn btn-primary btn-lg shadow-none" disabled="true">Reset</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-5">
      <div id="timer">00:01:00</div>
      <button id="startTimer" style="background-color: #00509D; border: #00509D;"  type="button" class="btn btn-primary btn shadow-none">Start</button>
      <button id="pauseTimer" style="background-color: #00509D; border: #00509D;" disabled="true" type="button" class="btn btn-primary btn shadow-none">Pause</button>
      <button id="resumeTimer" style="background-color: #00509D; border: #00509D;" disabled="true" type="button" class="btn btn-primary btn shadow-none" >Resume</button>
    </div>
  </div>
  <div class="row" style="display: none;" id="table-row">
    <div class="col-12">
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Vote</th>
            <th scope="col">Count</th>            
          </tr>
        </thead>
        <tbody id="body-table">
        </tbody>
      </table>
    </div>
  </div>
  <!-- [END gae_flex_websockets_form] -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    // [START gae_flex_websockets_js]
    $(function() {
      /* If the main page is served via https, the WebSocket must be served via
      "wss" (WebSocket Secure) */
      var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
      var webSocketUri =  scheme
      + window.location.hostname
      + (location.port ? ':'+location.port: '')
      + '/exchange';

      /* Get elements from the page */
      var form = $('#chat-form');
      var vote = $('#chat-response');
      var users = $('#chat-users');

      /* Helper to keep an activity log on the page. */
      function log(text){
        return;
      }

      /* Establish the WebSocket connection and register event handlers. */
      var websocket = new WebSocket(webSocketUri);

      websocket.onopen = function() {
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reset_all"}));
      };

      websocket.onclose = function() {
        log('Closed');
      };

      websocket.onmessage = function(e) {
        data = JSON.parse(e.data);

        // count voters
        if ('status' in data && data['status'] === 'users' && data['value']){
          $("#user-count").text(data['value'].length);

          return;
        }

        if ('status' in data && data['status'] == 'disconnect' && data['value']) {
          var user = data['user'].replace(" ", "");
          var elementExist = $('#card-'+user).length
          if(elementExist){
            $("#card-"+user).remove();
          }  
        }
        if('status' in data && data['status'] === 'vote'){
          $("#reveal").prop("disabled",false);
          $("#reset").prop("disabled",false);
          $("#novotes").css('display', 'none');
          var user = data['user'].replace(" ", "");
          var elementExist = $('#card-'+user).length
          if(elementExist){
            $("#card-vote-"+user).html(data['value']);
            if(data['value'] === 'coffee'){
              $("#card-vote-"+user).html('<i class="fa fa-coffee"></i>');
            }
          }else{
            var card = '<div id="card-'+user+'" class="card" style="background-color: #00296B; max-width: 100px"><div class="card-body text-center vote"><span id="card-vote-'+user+'" style="display: none" class="voteNumber">'+data['value']+'</span><span id="card-vote-placeholder-'+user+'" class="votePlaceholder"><img width="40" height="40" src="{{ url_for("static", filename="logo.png") }}" /></span></div></div>'
            $("#card-deck").append(card);  
            if(data['value'] === 'coffee'){
              $("#card-vote-"+user).html('<i class="fa fa-coffee"></i>');
            }
          }
        }
      
        if('status' in data && data['status'] === 'report'){
          data['value'].forEach(function(element){
            $("#body-table").append('<tr><td>'+element["key"]+'</td><td>'+element['value']+'</td></tr>')
          });
         $("#table-row").show();
        }

      };

      $("#reveal").click(function(e){
        $(".voteNumber").show();
        $(".votePlaceholder").hide();
        $("#reveal").prop("disabled",true);
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "block"}));
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reveal"}));
      });

      $("#reset").click(function(e){
        $(".card").remove();
        $("#reveal").prop("disabled",false);
        $("#novotes").css('display', 'block');
        $("#table-row").hide();
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reset"}));
      });

      websocket.onerror = function(e) {
        log('Error (see console)');
        console.log(e);
      };

      $('#startTimer').click(function(event){
        var startButton = $('#startTimer').text();
        if(startButton === 'Start') {
          $('#timer').timer({
            countdown: true,
            duration: '1m30s',      // This will start the countdown from 3 mins 40 seconds
            callback: function() {  // This will execute after the duration has elapsed
              console.log('Time up!');
            }
          });
          $('#startTimer').text("Reset");
        }else{
          $('#timer').timer('reset');  
        }
        
        $('#pauseTimer').prop("disabled", false);
        $('#resumeTimer').prop("disabled", false);
      });

      $('#resetTimer').click(function(event){
        $('#timer').timer('reset');
        $('#startTimer').prop("disabled", false);
      });

      $('#pauseTimer').click(function(event){
        $('#timer').timer('pause');
      });

      $('#resumeTimer').click(function(event){
        $('#timer').timer('resume');
      });
      
    });
  </script>
</div>
{% endblock %}
