{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  
  <div class="row ml-auto text-right mt-5">
    <div class="col-12">
      <h4>Voters: </h4><span id="user-count">0</span>
    </div>    
  </div>

  <div class="row" style="margin-top: 10%">
    <div class="col-12">
      <h3>Here's your votes:</h3>
      <div class="card-deck mt-3" id="card-deck">
        
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <button id="reveal" style="background-color: #1D84B5; border: #1D84B5;" type="button" class="btn btn-primary btn-lg">Reveal</button>
      <button id="reset" style="background-color: #1D84B5; border: #1D84B5;" type="button" class="btn btn-primary btn-lg">Reset</button>
    </div>
  </div>

  <!-- [END gae_flex_websockets_form] -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    // [START gae_flex_websockets_js]
    $(function() {
      /* If the main page is served via https, the WebSocket must be served via
      "wss" (WebSocket Secure) */
      var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
      var webSocketUri =  scheme
      + window.location.hostname
      + (location.port ? ':'+location.port: '')
      + '/exchange';

      /* Get elements from the page */
      var form = $('#chat-form');
      var vote = $('#chat-response');
      var users = $('#chat-users');

      /* Helper to keep an activity log on the page. */
      function log(text){
        return;
      }

      /* Establish the WebSocket connection and register event handlers. */
      var websocket = new WebSocket(webSocketUri);

      websocket.onopen = function() {
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reset_all"}));
      };

      websocket.onclose = function() {
        log('Closed');
      };

      websocket.onmessage = function(e) {
        data = JSON.parse(e.data);

        // count voters
        if ('status' in data && data['status'] === 'users' && data['value']){
          $("#user-count").text(data['value'].length);
          return;
        }

        if ('status' in data && data['status'] == 'disconnect' && data['value']) {
          var user = data['user'].replace(" ", "");
          var elementExist = $('#card-'+user).length
          if(elementExist){
            $("#card-"+user).remove();
          }  
        }
        if('status' in data && data['status'] === 'vote'){
          var user = data['user'].replace(" ", "");
          var elementExist = $('#card-'+user).length
          if(elementExist){
            $("#card-vote-"+user).html(data['value']);
          }else{
            var card = '<div id="card-'+user+'"" class="card" style="background-color: #063970; max-width: 100px"><div class="card-body text-center vote"><span id="card-vote-'+user+'" style="display: none" class="voteNumber">'+data['value']+'</span><span id="card-vote-placeholder-"'+user+'" class="votePlaceholder">*</span></div></div>'
            $("#card-deck").append(card);  
            if(data['value'] === 'coffee'){
              $("#card-vote-"+user).html('<i class="fa fa-coffee"></i>');
            }
          }
        }

      };

      $("#reveal").click(function(e){
        $(".voteNumber").show();
        $(".votePlaceholder").hide();
        $("#reveal").prop("disabled",true);
      });

      $("#reset").click(function(e){
        $(".card").remove();
        $("#reveal").prop("disabled",false);
        websocket.send(JSON.stringify({'user': null, 'value': null, 'status': "reset"}));
      });

      websocket.onerror = function(e) {
        log('Error (see console)');
        console.log(e);
      };

      
    });
    // [END gae_flex_websockets_js]
  </script>
</div>
{% endblock %}
